body {
  margin: 0;
  width: 340px;
  overflow: hidden;
  background-color: rgb(245,245,245);
  color: rgb(45,41,38);
}

h1, h2 {
  font-size: 16pt;
  font-weight: 300;
  text-align: center;
}

h3 {
  font-size: 16pt;
  font-weight: 300;
  text-align: center;
  padding: 0;
  margin: 0 0 20px 0;
}

a:link, a:visited {
  color: rgb(21,127,173);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header, .box {
  background-color: rgb(255, 255, 255);
  border-bottom: rgb(219,220,219) solid 1px;
}

.box {
  margin: 6px;
  padding: 8px;
  border-radius: 5px;
  position:relative;
}

.footer {
  background-color: rgb(255, 255, 255);
  border-top: rgb(219,220,219) solid 1px;
  padding: 6px;
}

.trustability {
  height: 230px;
}

.icons {
  width: 50%;
  text-align: center;
}

.header {
  position: relative;
  height: 35px;
}

.header img {
  position: absolute;
  height: 35px;
  top: 0;
  left: 0;
}

.header div {
  position: absolute;
  top: 0;
  line-height: 0;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  width: 50%;
  position: absolute;
  top: 40px;
  right: 0;
}

.left, .right {
  width: 50%;
  height: 60px;
  text-align: center;
}

.right {
  position: absolute;
  right: 0;
  top: 55px;
}

.right span {
  display: block;
  top: 50%;
  width: 100%;
  transform: translateY(50%);
}

.left img {
  width: 60px;
}

li {
  list-style-type: none;
  padding: 3px;
}

li span {
  color: green;
}

.color-easy {
  color: green;
}

.color-average {
  color: orange;
}

.color-difficult {
  color: red;
}

.easy, .average, .difficult {
  background-size: cover;
  height:60px;
  width:60px;
  background-color: rgb(205,205,205);
}

.easy {
  background-image: url('images/easy.png');
}

.average {
  background-image: url('images/average.png');
}

.difficult {
  background-image: url('images/difficult.png');
}
.credit {
  padding-top: 4px;
  text-align: right;
}
