body {
  margin: 0;
}
h1, h2, h3{
  text-align: center;
  font-weight: normal;
  margin: 0;
  padding-top: 12px;
}
h2{
  margin-right: 8%;
}

h3 {
  text-transform: uppercase;
}

#header {
  #popupIcon {
    float: left;
  }
  #honstatus {
    float: right;
    height: 46px;
    padding-top: 2px;
  }
  height: 50px;
  border-bottom: 1px solid #f2f2f2;
}

#body{
  background-color: #f9f9f9;

  #users {
    width: 90%;
    padding: 5px;
    padding-left: 15px;
    margin: 0 auto 10px;
    border-radius: 25px;
    border: 2px solid #231f20;
    background-color: #ffffff;

    p {
      padding-left: 15px;
      color: #888;
    }

    #stars {
      font-size: 3em;
      margin: 0 auto;
    }
    .credit {
      margin-right: 1%;
      a {
        padding-right: 15px;
        float: right;
      }
    }
  }
  #results {
    width: 500px;
    display:table;
    border-spacing:15px 0;
    padding:10px 0;
    min-height: 40px;
    background-color: #f9f9f9;
    >div {
      border-radius: 25px;
      border: 2px solid #00b4f0;

      background-color: #ffffff;
      p {
        margin-left: 25px;
        color: #888;
      }
      &#trustability {
        width: 100%;
        margin-bottom: 10px;

        #circle {
          display: inline-block;
          vertical-align: top;
          margin-top: 5px;
          margin-left: 35px;
          padding-bottom: 10px;
          canvas {
            margin: 0 30%;
          }
        }
        img {
          width: 25%;
          margin: 10px 0 0 115px;
        }
        div {
          display: inline-block;
          margin-left: 40px;

          ul {
            width: 240px;
            margin-top: 5px;
            li {
              display:inline-block;
              width: 120px;
            }
          }
        }
      }

      &#readability {
        width: 100%;

        #difficultyIcon {
          position: relative;
          background-size: cover;
          vertical-align: top;
          height:60px;
          width:60px;
          margin: 0 0 10px 50px;
          display: inline-block;
          &.easy{
            background-image: url('chrome-extension://__MSG_@@extension_id__/images/easy.png')
          }
          &.average{
            background-image: url('chrome-extension://__MSG_@@extension_id__/images/average.png')
          }
          &.difficult{
            background-image: url('chrome-extension://__MSG_@@extension_id__/images/difficult.png')
          }
        }
        p {
          display: inline-block;
          vertical-align: top;

          &.difficulty {
            margin-left: 25px;
            margin-top: 20px;
          }
          &.easy {
            color: limegreen;
          }
          &.average{
            color: #ffc520;
          }
          &.difficult{
            color: crimson;
          }
        }

      }
    }
  }
}


